In [46]:
!pip install pandas sqlalchemy mysql-connector-python openpyxl

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\lenovo\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda3\lib\site-packages (9.4.0)
Requirement already satisfied: openpyxl in c:\users\lenovo\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: et-xmlfile in c:\users\lenovo\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [47]:
import pandas as pd
from sqlalchemy import create_engine

In [48]:
# import data then I will do the quick cleaning

df = pd.read_csv(r'C:\Users\LENOVO\Downloads\BigBasket.csv')
df = df.drop_duplicates()
df = df.reset_index(drop=True)
df.shape

(27555, 9)

In [49]:
# steps I follow when I am working on my real projects at my work
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27555 entries, 0 to 27554
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            27555 non-null  int64
 1   product       27554 non-null  object
 2   category      27555 non-null  object
 3   sub_category  27555 non-null  object
 4   brand         27554 non-null  object
 5   sale_price    27555 non-null  float64
 6   market_price  27555 non-null  float64
 7   type          27555 non-null  object
 8   rating        18929 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 1.9+ MB

In [50]:
numeric_columns = [i for i in df if df[i].dtype in ('float', 'int')]

In [56]:
numeric_columns

['id', 'sale_price', 'market_price', 'rating']

In [57]:
for i in numeric_columns:
    df[i] = pd.to_numeric(df[i], errors='coerce')

In [58]:
df.isnull().sum()

id                 0
product            1
category           0
sub_category       0
brand              1
sale_price         0
market_price       0
type               0
rating          8626
dtype: int64

In [60]:
df[df['product'].isnull()]

,id,product,category,sub_category,brand,sale_price,market_price,type,rating
14363,14364,NaN,Beverages,Coffee,Cothas Coffee,200.0,240.0,Ground Coffee,4.2

In [61]:
df['product'].fillna('Missing value', inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10356\2834679049.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['product'].fillna('Missing value', inplace=True)

In [62]:
df['brand'].fillna('Missing value', inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10356\376668063.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['brand'].fillna('Missing value', inplace=True)

In [64]:
mean_val = df['rating'].mean()
df['rating'].fillna(mean_val, inplace=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10356\1430176898.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(mean_val, inplace=True)

In [65]:
df.isnull().sum()

id              0
product         0
category        0
sub_category    0
brand           0
sale_price      0
market_price    0
type            0
rating          0
dtype: int64

In [70]:
from sqlalchemy import create_engine

#create connection engine
raj_sql = create_engine('mysql+mysqlconnector://root:Gold%40123@localhost:3306/internshala')  # provide sql workbench hostname and password and database name

df.to_sql(name='bigbasket',
          con = raj_sql,
          if_exists = 'replace',  #check if table is there if there drop that and import this
          index = False,
          chunksize =  10000)

print('Data imported Raj')

Data imported Raj